Repository osl-data-science/osl-data-science.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-linter, ruff-format, mypy, bandit, vulture

.pre-commit-config.yaml:

default_stages:
  - pre-commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer

  - repo: local
    hooks:
      # NOTE: This is a total unnecessary check, just used as part of the
      #       template. Remove this after creating the template.
      - id: check-python
        name: check-python
        entry: python --version
        language: system
        pass_filenames: no

      - id: ruff-linter
        name: ruff-linter
        entry: ruff check --fix
        language: system
        pass_filenames: true
        require_serial: yes
        files: "./"
        types:
          - python

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        pass_filenames: true
        require_serial: yes
        files: "./"
        types:
          - python

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        files: "src/osl_data_science"
        pass_filenames: true
        types:
          - python

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types_or:
          - sh
          - shell
          - ash
          - bash
          - bats
          - dash
          - ksh

      - id: bandit
        name: bandit
        entry: bandit
        language: system
        args: ["--configfile", "pyproject.toml", "-iii", "-lll"]
        pass_filenames: true
        types:
          - python

      - id: vulture
        name: vulture
        entry: vulture
        language: system
        files: "src/osl_data_science"
        description: Find unused Python code.
        pass_filenames: true
        types:
          - python

fix issues with typing annotation
  .github/workflows/main.yaml
  poetry.lock
  pyproject.toml
  src/osl_data_science/main.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture

fix: fix ci permissions
  .github/workflows/main.yaml
  .github/workflows/release.yaml
Due: none

fix: fix ci permissions (#2)
  .github/workflows/main.yaml
  .github/workflows/release.yaml
Due: none

Delete CNAME
  CNAME
Due: none

Create CNAME
  CNAME
Due: none

imp: Improve the initial content and layout
  .editorconfig
  pages/projects/example/index.html
  pages/projects/example/index.md
  src/osl_data_science/templates/dashboard.md.tpl
Due: none

feat: Add dashboard for video game
  pages/projects/index.md
  pages/projects/video-game-sales-analysis/index.html
  pages/projects/video-game-sales-analysis/index.md
  poetry.lock
  pyproject.toml
  src/osl_data_science/datatools.py
  src/osl_data_science/main.py
  src/osl_data_science/projects/video_games_sales/__init__.py
  src/osl_data_science/projects/video_games_sales/metadata.yaml
  src/osl_data_science/templates/dashboard.md.tpl
  theme/images/projects/video-game-sales-analysis/header.jpg
Due: ruff-linter, ruff-format, mypy, bandit, vulture

add initial version of the video game analysis
  .gitignore
  pages/projects/example/index.html
  pages/projects/example/index.md
  pages/projects/video-game-sales-analysis/index.html
  poetry.lock
  pyproject.toml
  src/osl_data_science/datatools.py
  src/osl_data_science/projects/example/__init__.py
  src/osl_data_science/projects/example/dash.py
  src/osl_data_science/projects/example/data.py
  src/osl_data_science/projects/example/model.py
  src/osl_data_science/projects/video_games_sales/__init__.py
  src/osl_data_science/projects/video_games_sales/dash.py
  src/osl_data_science/projects/video_games_sales/data.py
  src/osl_data_science/projects/video_games_sales/data/vgsales.csv
  src/osl_data_science/projects/video_games_sales/model.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture

fix video game report layout
  pages/projects/example/index.html
  pages/projects/index.md
  pages/projects/video-game-sales-analysis/index.html
  src/osl_data_science/main.py
  src/osl_data_science/projects/example/__init__.py
  src/osl_data_science/projects/example/dash.py
  src/osl_data_science/projects/video_games_sales/__init__.py
  src/osl_data_science/projects/video_games_sales/dash.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture

fix video game report layout
  src/osl_data_science/projects/example/model.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture

improve the results
  pages/projects/example/index.html
  pages/projects/index.md
  pages/projects/video-game-sales-analysis/index.html
  src/osl_data_science/main.py
  src/osl_data_science/projects/video_games_sales/dash.py
  src/osl_data_science/projects/video_games_sales/data.py
Due: ruff-linter, ruff-format, mypy, bandit, vulture

remove undesired data folder
  .gitignore
  src/osl_data_science/projects/video_games_sales/data/vgsales.csv
Due: none

feat: Add an initial version for a dashboard for video game (#5)
  .gitignore
  pages/projects/example/index.html
  pages/projects/example/index.md
  pages/projects/index.md
  pages/projects/video-game-sales-analysis/index.html
  pages/projects/video-game-sales-analysis/index.md
  poetry.lock
  pyproject.toml
  src/osl_data_science/datatools.py
  src/osl_data_science/main.py
  src/osl_data_science/projects/example/dash.py
  src/osl_data_science/projects/example/data.py
  src/osl_data_science/projects/example/model.py
  src/osl_data_science/projects/video_games_sales/__init__.py
  src/osl_data_science/projects/video_games_sales/dash.py
  src/osl_data_science/projects/video_games_sales/data.py
  src/osl_data_science/projects/video_games_sales/metadata.yaml
  src/osl_data_science/projects/video_games_sales/model.py
  src/osl_data_science/templates/dashboard.md.tpl
  theme/images/projects/video-game-sales-analysis/header.jpg
Due: ruff-linter, ruff-format, mypy, bandit, vulture

deploy: 65b4dc499a9b77a94b7f008fd6b28a0018c5da5e
  images/projects/video-game-sales-analysis/header.jpg
  projects/example/index.html
  projects/index.html
  projects/video-game-sales-analysis/index.html
  sitemap.xml
  sitemap.xml.gz
Due: none

feat: Update structure
  .github/workflows/main.yaml
  .pre-commit-config.yaml
  conda/dev.yaml
  mkdocs.yml
  pages/discord/index.md
  pages/index.md
  pages/projects/index.md
  pages/projects/video-game-sales-analysis/index.html
  pages/projects/video-game-sales-analysis/index.md
  poetry.lock
  pyproject.toml
  scripts/check-broken-links-internal.py
  scripts/check-broken-links-md.py
  scripts/clean-output.py
  theme/base.html
Due: ruff-linter, ruff-format, bandit

feat: Update initial structure (#6)
  .github/workflows/main.yaml
  .pre-commit-config.yaml
  conda/dev.yaml
  mkdocs.yml
  pages/discord/index.md
  pages/index.md
  pages/projects/index.md
  pages/projects/video-game-sales-analysis/index.html
  pages/projects/video-game-sales-analysis/index.md
  poetry.lock
  pyproject.toml
  scripts/check-broken-links-internal.py
  scripts/check-broken-links-md.py
  scripts/clean-output.py
  theme/base.html
Due: ruff-linter, ruff-format, bandit

feat: Add quarto for the dashboard projects
  .makim.yaml
  .pre-commit-config.yaml
  pages/projects/example/index.html
  pages/projects/example/index.qmd
  pages/projects/index.md
  pages/projects/video_games_sales/__init__.py
  pages/projects/video_games_sales/dash.py
  pages/projects/video_games_sales/data.py
  pages/projects/video_games_sales/data/vgsales.csv
  pages/projects/video_games_sales/index.html
  pages/projects/video_games_sales/index.qmd
  pages/projects/video_games_sales/index_files/libs/bootstrap/bootstrap-e833193ee9d623e1046324b7e8ef2c0c.min.css
  pages/projects/video_games_sales/index_files/libs/bootstrap/bootstrap-icons.css
  pages/projects/video_games_sales/index_files/libs/bootstrap/bootstrap-icons.woff
  pages/projects/video_games_sales/index_files/libs/bootstrap/bootstrap.min.js
  pages/projects/video_games_sales/index_files/libs/clipboard/clipboard.min.js
  pages/projects/video_games_sales/index_files/libs/quarto-html/anchor.min.js
  pages/projects/video_games_sales/index_files/libs/quarto-html/popper.min.js
  pages/projects/video_games_sales/index_files/libs/quarto-html/quarto-syntax-highlighting-549806ee2085284f45b00abea8c6df48.css
  pages/projects/video_games_sales/index_files/libs/quarto-html/quarto.js
  pages/projects/video_games_sales/index_files/libs/quarto-html/tippy.css
  pages/projects/video_games_sales/index_files/libs/quarto-html/tippy.umd.min.js
  pages/projects/video_games_sales/metadata.yaml
  pages/projects/video_games_sales/model.py
  scripts/quarto_rendering/datatools.py
  scripts/quarto_rendering/main.py
Due: ruff-linter, ruff-format, bandit
