Repository osl-data-science/osl-data-science.github.io: changes, and which pre-commit hooks are due for each by the changed paths.
All: mkdocs-build, ruff-linter, ruff-format, mypy, bandit, vulture

mkdocs-build:
  name: mkdocs-build
  entry: makim pages.build
  language: system
  pass_filenames: false

ruff-linter:
  name: ruff-linter
  entry: ruff check --fix
  language: system
  pass_filenames: true
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  pass_filenames: true
  require_serial: true

mypy:
  name: mypy
  entry: mypy
  language: system
  pass_filenames: true

bandit:
  name: bandit
  entry: bandit
  language: system
  args:
  - --configfile
  - pyproject.toml
  - -iii
  - -lll
  pass_filenames: true

vulture:
  name: vulture
  entry: vulture
  language: system
  description: Find unused Python code.
  pass_filenames: true

set package mode to false
  pyproject.toml
Due: none

fix linting
  .pre-commit-config.yaml
  pages/projects/example/index.html
  pages/projects/example/index_files/libs/bootstrap/bootstrap-c1242d0537452e7dbe79e2e3fc1003df.min.css
Due: mkdocs-build

build pages inside the ci workflow
  .github/workflows/main.yaml
Due: none

deploy: 11419a0e6f46bc0aa6f2d2d5fa6f92e43e845b91
  discord/index.html
  donate/index.html
  feed_rss_created.xml
  feed_rss_updated.xml
  index.html
  mentors/index.html
  projects/example/__init__.py
  projects/example/data.py
  projects/example/index.html
  projects/example/index.qmd
  projects/example/index_files/figure-html/cell-6-output-1.png
  projects/example/index_files/figure-html/cell-7-output-1.png
  projects/example/index_files/libs/bootstrap/bootstrap-c1242d0537452e7dbe79e2e3fc1003df.min.css
  projects/example/index_files/libs/bootstrap/bootstrap-e833193ee9d623e1046324b7e8ef2c0c.min.css
  projects/example/index_files/libs/bootstrap/bootstrap-efad07734385d086f85e1a9d4843f01b.min.css
  projects/example/index_files/libs/bootstrap/bootstrap-icons.css
  projects/example/index_files/libs/bootstrap/bootstrap-icons.woff
  projects/example/index_files/libs/bootstrap/bootstrap.min.js
  projects/example/index_files/libs/clipboard/clipboard.min.js
  projects/example/index_files/libs/quarto-dashboard/components.js
  projects/example/index_files/libs/quarto-dashboard/datatables.min.css
  projects/example/index_files/libs/quarto-dashboard/datatables.min.js
  projects/example/index_files/libs/quarto-dashboard/pdfmake.min.js
  projects/example/index_files/libs/quarto-dashboard/quarto-dashboard.js
  projects/example/index_files/libs/quarto-dashboard/stickythead.js
  projects/example/index_files/libs/quarto-dashboard/vfs_fonts.js
  projects/example/index_files/libs/quarto-dashboard/web-components.js
  projects/example/index_files/libs/quarto-html/anchor.min.js
  projects/example/index_files/libs/quarto-html/popper.min.js
  projects/example/index_files/libs/quarto-html/quarto-syntax-highlighting-549806ee2085284f45b00abea8c6df48.css
  projects/example/index_files/libs/quarto-html/quarto.js
  projects/example/index_files/libs/quarto-html/tippy.css
  projects/example/index_files/libs/quarto-html/tippy.umd.min.js
  projects/example/model.py
  projects/index.html
  projects/video-game-sales-analysis/index.html
  sitemap.xml
  sitemap.xml.gz
  twitter/index.html
  youtube/index.html
Due: ruff-linter, ruff-format, bandit

fix: Fix text colors in projects index page
  pages/projects/example/index.html
  pages/projects/example/index_files/libs/bootstrap/bootstrap-c1242d0537452e7dbe79e2e3fc1003df.min.css
  pages/projects/index.md
  scripts/quarto_rendering/main.py
Due: mkdocs-build, ruff-linter, ruff-format, bandit

fix: Fix text colors in projects index page (#8)
  pages/projects/example/index.html
  pages/projects/example/index_files/libs/bootstrap/bootstrap-c1242d0537452e7dbe79e2e3fc1003df.min.css
  pages/projects/index.md
  scripts/quarto_rendering/main.py
Due: mkdocs-build, ruff-linter, ruff-format, bandit

deploy: 2315a858e62810b4dc7ca604b19af54736d43fa3
  feed_rss_created.xml
  feed_rss_updated.xml
  projects/example/index.html
  projects/example/index_files/libs/bootstrap/bootstrap-c1242d0537452e7dbe79e2e3fc1003df.min.css
  projects/index.html
Due: none

Delete CNAME
  CNAME
Due: none

Create CNAME
  CNAME
Due: none

Path conditions:
  mkdocs-build: any of: pages
  ruff-linter: any of: ./ and \.py$
  ruff-format: any of: ./ and \.py$
  mypy: any of: src/osl_data_science and \.py$
  bandit: any of: \.py$
  vulture: any of: src/osl_data_science and \.py$
